{#{% extends 'users/base.html' %}#}
{##}
{#{% block content %}#}
{#<h1>Пароль успішно змінено!</h1>#}
{##}
{#<p>Ви успішно змінили пароль. #}
{#    <a href="{% url 'users:profile' user.id %}">Повернутись в профіль</a>#}
{##}
{#{% endblock %}#}


{% extends 'users/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success text-center">
                <h1>Пароль успішно змінено!</h1>
                <a href="{% url 'users:profile' user.id %}" class="btn btn-info">Повернутись в профіль</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

