{#{% load i18n %}#}
{#{% blocktrans %} #}
{#    Ви отримали це повідомлення, оскільки надіслали запит на скидання пароля для вашого облікового запису.#}
{#    Натисніть на посилання нижче, щоб скинути пароль:#}
{#{% endblocktrans %}#}
{#<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">#}
{#    Скинути пароль#}
{#</a>#}
{#{% blocktrans %}#}
{#    Якщо ви не надсилали запит на скидання пароля, проігноруйте це повідомлення.#}
{#{% endblocktrans %}#}
{#{% blocktrans %}#}
{#    Це посилання дійсне протягом {{ timeout }} годин.#}
{#{% endblocktrans %}#}
{#{% blocktrans %}#}
{#    Дякуємо, що користуєтеся нашим сайтом!#}
{#{% endblocktrans %}#}