{#{% extends 'users/base.html' %}#}
{##}
{#{% block content %}#}
{#<div class="container mt-5">#}
{#    <div class="row justify-content-center">#}
{#        <div class="col-md-6">#}
{#            <div class="card shadow-sm">#}
{#                <div class="card-header bg-primary text-white text-center">#}
{#                    <h4 class="mb-0">Скидання пароля</h4>#}
{#                </div>#}
{#                <div class="card-body">#}
{#                    <form method="post">#}
{#                        {% csrf_token %}#}
{##}
{#                        {% if form.non_field_errors %}#}
{#                        <div class="alert alert-danger">#}
{#                            {{ form.non_field_errors }}#}
{#                        </div>#}
{#                        {% endif %}#}
{##}
{#                        {% for f in form %}#}
{#                        <div class="form-group">#}
{#                            <label for="{{ f.id_for_label }}">{{ f.label }}</label>#}
{#                            {{ f }}#}
{#                            {% if f.errors %}#}
{#                            <div class="text-danger small">{{ f.errors }}</div>#}
{#                            {% endif %}#}
{#                        </div>#}
{#                        {% endfor %}#}
{##}
{#                        <div class="form-group text-center">#}
{#                            <button class="btn btn-success btn-block" type="submit">Отримати пароль</button>#}
{#                        </div>#}
{#                    </form>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#{% endblock %}#}
{##}
