{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/css/search.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">
        <h2 class="my-4">Результати пошуку для "{{ query }}"</h2>

        <div class="row">
            {% if products %}
                {% for product in products %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="#"><img class="card-img-top" src="{{ product.image.url }}" alt="Image"></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="#">{{ product.name|safe }}</a>
                                </h4>
                                <h5>{{ product.price }} грн.</h5>
                                <p class="card-text">{{ product.description|safe }}</p>
                            </div>
                            <div class="card-footer text-center">
                                <a class="btn btn-outline-success"
                                   href="{% url 'products:basket_add' product.id %}">
                                    Додати до кошика
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Нічого не знайдено за запитом "{{ query }}". Спробуйте інші ключові слова.</p>
            {% endif %}
        </div>

        {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
                        <a class="page-link" href="{% if page_obj.has_previous %}
                        {% url 'products:custom_search' %}?q={{ query }}&page=
                            {{ page_obj.previous_page_number }}{% else %} # {% endif %}" tabindex="-1"
                           aria-disabled="true">
                            Попередня
                        </a>
                    </li>
                    {% for page in page_obj.paginator.page_range %}
                        <li class="page-item {% if page == page_obj.number %} active {% endif %}">
                            <a class="page-link"
                               href="{% url 'products:custom_search' %}?q={{ query }}&page={{ page }}">{{ page }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
                        <a class="page-link" href="{% if page_obj.has_next %}
                        {% url 'products:custom_search' %}?q={{ query }}&page=
                            {{ page_obj.next_page_number }}{% else %} # {% endif %}">
                            Наступна
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}

    </div>

{% endblock %}


{% block footer %}
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Postcards Shop 2024</p>
        </div>
    </footer>
{% endblock %}
