{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/css/search.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="my-4">Результат генерації для "{{ prompt }}"</h2>
        {% if image_url %}
            <div class="generated-image">
                <img src="{{ image_url }}" alt="Generated Image" style="width: 458px; height: 458px;">
            </div>
        {% else %}
            <p>Image generation failed or no image available.</p>
        {% endif %}
    </div>
{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Postcards Shop 2024</p>
        </div>
    </footer>
{% endblock %}
