{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/css/search.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">
        <h2 class="my-4">Результ генерації для "{{ prompt }}"</h2>
        <h2 class="my-4">URL "{{ image_url }}"</h2>

    </div>

{% endblock %}


{% block footer %}
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Postcards Shop 2024</p>
        </div>
    </footer>
{% endblock %}
